.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Reduce the width of the container */
.flex-container {
  display: flex;
  align-items: center;
  max-width: 5000px; 
  margin: 0 auto; 
}

/* Adjust the width of the Table */
.table {
  margin-right: 30px; 
}

/* Adjust the width of the BarChart */
.chart { 
  width: 100%;
}

.select-container {
  display: inline-block;
  margin-right: 20px;
}

.select-input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  cursor: pointer;
}

/* Style the select arrow */
.select-arrow {
  position: absolute;
  top: 14px;
  right: 10px;
  pointer-events: none;
}

/* Reduce the width of the select input */
.select-input.smaller {
  width: 200px; /* Adjust the width to your preference */
}


/* Style test */
.containers {
  border: 1px solid #0e0e0e; /* Add borders to all containers */
  padding: 15px; /* Add some padding for a cleaner look */
  border-radius: 8px; /* Optional: Add rounded corners */
  

}

.apex-chart {
  align-items: center;
  display: flex;
  flex-direction: column;
}
